# WordPress temporary files
wordpress_files/wp-content/upgrade/
wordpress_files/wp-content/backup-db/
wordpress_files/wp-content/cache/
wordpress_files/wp-content/backups/
wordpress_files/wp-content/uploads/

# WordPress configuration
wp-config.php

# Fichiers sensibles
.env

# Logs and databases
*.log
*.sql
*.sqlite

# Dossiers de conteneurs Docker
wordpress_data/
db_data/
wordpress-files-backup/

# Fichiers système
.DS_Store
Thumbs.db
