{# Block: Custom Block #}
<div class="custom-block">
    <h2 class="custom-block__title">{{ fields.title }}</h2>
    <div class="custom-block__content">
        {{ fields.content }}
    </div>
</div>
